h2 {
    margin-left: 20px;
}

#start {
    margin-left:40px;
}

#end {
    margin-left:46px;
}

#step {
    margin-left:114px;
}

#button {
    margin-left:120px;
}

#sample {
    margin-left: 120px;
    margin-top: 10px;
}

#et {
    margin-left:80px;
    margin-top:50px;
}